body {
    font-family:tahoma,arial,verdana,sans-serif;
    font-size: 8px;
}

table {
    font-size: 11px;
}

footer {
    text-align: center;
    padding: 5px;
}

/* injury or starting pitcher icon */
.icon-indicator {
    margin-left: 3px;
}

#probables { left: 0 !important; }
#filterlist label {
    margin-left: 5px;
    margin-right: 6px;
}

#filterlist .x-panel-body .x-panel-body {
    padding: 5px;
}

.siteinfo {
    padding: 2px;
    float: right;
    margin-right: 43px;
}
.siteinfo table {
    text-align: right;
}

#sitepicker-body {
    padding: 10px;
}

/* radio button spacing - see site filters */
.x-form-cb-label-after {
margin-left: 4px;
margin-right: 8px;
vertical-align: top;
}

.sport-link { margin-left: 20px; font-weight:bold;}
.off-season { color: lightgray; font-weight:normal;}

.sport-picker {padding-top: 5px;}

/* used on bet display */
dl {
 padding:0;
 margin:0;    
 width:100%;
 overflow:hidden;
}
dt {
 padding:0;
 margin:0;    
 float:left;
 width:50%;
}
dd {
 padding:0;
 margin:0;    
 float:left;
 width:50%;
}

.weather-hour { text-align: center;}
h4 { margin: 0; }

/* for sort buttons above grid*/
.x-btn .sort-direction-asc {
background-image:  url('https://extjs.cachefly.net/ext/gpl/4.2.1/resources/themes/images/gray/grid/sort_asc.gif');
background-position: 4px center;
}
.x-btn .sort-direction-desc {
background-image:  url('https://extjs.cachefly.net/ext/gpl/4.2.1/resources/themes/images/gray/grid/sort_desc.gif');
background-position: 4px center;
}

/* end sort buttons above grid*/

/* start roster slot css */
.rosterbuilder .x-grid-cell-inner {
    padding: 5px;
}
.rosterbuilder .x-grid-row-selected .x-grid-cell-inner {
    background-color: rgb(255, 248, 0);
}
.rosterbuilder .x-grid-item, .rosterbuilder .x-grid-row-summary .x-grid-cell {
    font-size: 10px;
}

/* send roster slot css */
.ros-btn {
margin: 10px;
}
.screenshot-btn {
float: right;
}

.watermark {
   position:absolute;
   top: 0;
   width:100%;
   height:100% !important;
   opacity: .25;
   background-image: url('../images/draftaidwatermark.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 85%;
}

/* crisp theme overrides */
.x-column-header {
    font-size: 11px;
}
.x-panel-header-title-default {
    font-size: 13px;
}
.x-grid-item, .x-table-layout {
    font-size: 12px;
}
.x-column-header-inner {
  padding: 7px 3px 7px 3px;
}
.featured {
    font-weight: bold;
}