body {
    font-family:tahoma,arial,verdana,sans-serif;
}

table {
    font-size: 11px;
}

/* injury or starting pitcher icon */
.icon-indicator {
    margin-left: 3px;
}

#filterlist label {
    margin-left: 5px;
}

#filterlist .x-panel-body .x-panel-body {
    padding: 5px;
}

.siteinfo {
    padding: 2px;
    float: right;
    margin-right: 43px;
}
.siteinfo table {
    text-align: right;
}

.sitepicker ul{
    font-size: 11px;
    font-weight: bold;
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
}
.sitepicker li {
    margin-top: 5px;
}

.sitepicker .x-form-item {
    margin: 5px 0 3px 5px;
}
.sitepicker .x-form-trigger-wrap {
    margin: 5px 0 10px 10px;
}
/* radio button spacing - see site filters */
.x-form-cb-label-after {
margin-left: 4px;
margin-right: 8px;
vertical-align: top;
}

footer a { color: white; }
footer a:visited {color: gray; }
.sport-link { margin-left: 20px;}

/* used on bet display */
dl {
 padding:0;
 margin:0;    
 width:100%;
 overflow:hidden;
}
dt {
 padding:0;
 margin:0;    
 float:left;
 width:50%;
}
dd {
 padding:0;
 margin:0;    
 float:left;
 width:50%;
}

/* for sort buttons above grid*/
.x-btn .sort-direction-asc {
background-image:  url('https://extjs.cachefly.net/ext/gpl/4.2.1/resources/themes/images/gray/grid/sort_asc.gif');
background-position: 4px center;
}
.x-btn .sort-direction-desc {
background-image:  url('https://extjs.cachefly.net/ext/gpl/4.2.1/resources/themes/images/gray/grid/sort_desc.gif');
background-position: 4px center;
}

/* end sort buttons above grid*/

/* start roster slot css */
.rosterbuilder .x-grid-row-selected .x-grid-cell-inner {
    background-color: rgb(255, 248, 0);
}

/* send roster slot css */
