/*
article {
    margin-top: 20px;
    font-size: 10px;
}

li {
    padding-left: 10px;
}

footer {
    text-align: center;
}

.icon-indicator {
    vertical-align: text-top;
    margin-left: 3px;
}

.x-table-layout-cell  {
    padding-left: 3px;
}

a:link, a:visited {
    color: #CFC;
}
*/
.x-grid-cell, .x-column-header, .x-grid-body {
    border-color: #080808;
}